$primary: darken($color: #ffd700, $amount: 5%);

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
}

.box {
  background-color: rgba(250, 250, 250, 0.95);
  min-height: 38rem;
  width: 30rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.planet-info {
  @mixin planet-data() {
    color: $primary;
    font-size: 2rem;
    margin: 1.5rem auto;

    span {
      color: black;
    }
  }

  padding: 1.5rem;

  hr {
    border: none;
    border-bottom: #666666 solid 1px;
    margin-left: -1.4rem;
    margin-right: -1.4rem;
  }

  &__name {
    @include planet-data;
    font-size: 3.4rem;
    margin: 0;
    text-align: center;
  }

  &__population {
    @include planet-data;
  }

  &__climate {
    @include planet-data;
  }

  &__terrain {
    @include planet-data;
  }

  &__filmsFeatured {
    @include planet-data;
    text-align: center;
  }

  &__button {
    background-color: $primary;
    font-size: 2rem;
    font-weight: 800;
    border: black solid 4px;
    width: 8rem;
    margin-bottom: 1rem;
  }
}
