* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("/images/starwars-back.png");
  background-repeat: no-repeat;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.6;
}
